{# src/Carnaval/WebsiteBundle/Resources/views/Website/index.html.twig #}
 
{% extends "::layout.html.twig" %}
 
{% block title %}
  Catalogue - {{ parent() }}
{% endblock %}
 
{% block carnaval_contenu %}
            <div class="accordion-group">
                <div class="accordion-heading"> <a class="accordion-toggle" href="#item1" data-toggle="collapse"> Accordéon </a> </div>
                <div id="item1" class="collapse">
                    <div class="accordion-inner"> Ce plugin permet de créer des effets "accordéon" totalement paramétrables</div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading"> <a class="accordion-toggle" href="#item2" data-toggle="collapse"> Fenêtre modale </a> </div>
                <div id="item2" class="collapse">
                    <div class="accordion-inner"> Ce plugin permet de créer des fenêtres modales élégantes avec une grande simplicité. </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading"> <a class="accordion-toggle" href="#item3" data-toggle="collapse"> Carousel </a> </div>
                <div id="item3" class="collapse">
                    <div class="accordion-inner"> Ce plugin permet de faire défiler des images ou des vidéo,
                        ou tout autre élément média avec une mise en forme esthétique </div>
                </div>
            </div>
{% endblock %}